<mat-form-field class="date--picker">
  <input matInput [matDatepicker]="fromPicker" [(ngModel)]="from" placeholder="From">
  <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
  <mat-datepicker #fromPicker></mat-datepicker>
</mat-form-field>
<mat-form-field class="date--picker">
  <input matInput [matDatepicker]="toPicker" [(ngModel)]="to" placeholder="To">
  <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
  <mat-datepicker #toPicker></mat-datepicker>
</mat-form-field>
<app-post-container [isActive]="isActive" [fetchRequest]="fetchRequest" #postContainer>
</app-post-container>
