/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
}

body, html {
    padding: 0 !important; 
    margin: 0 !important;

    background-color: #CFD8DC;
}

.mat-tab-list {
    background-color: white;
}

.mat-input-wrapper {
    margin: 20px;
}
